<%# this only exists to separate subject and repo params - sigh %>

<%# The ugliness below is hacking the form layout because we don't have direct control of it sadly %>

</div></div>

<input id="job_job_params_wee_" type="hidden" name="job[job_params][wee]" value="moooooooo">

<div class="form-group">
  <label class="col-sm-9">
    <b>Select one or more repositories to search:</b>
  </label>

  <%= AppConfig[:nla_physical_carriers_report_subjects] rescue ['born digital', 'audio', 'moving images'] %>

  <%= @repositories.map{|repo| repo.repo_code} %>


</div>

<div class="form-group">
  <div class="col-sm-9">
