
<%= render_aspace_partial :partial => "physical_carriers_report/resource_linker", :locals => {:form => form} %>

<hr/>

<%# The ugliness below is hacking the form layout because we don't have direct control of it sadly %>

</div></div>

<div class="form-group">
  <label class="col-sm-9">
    <b>Select one or more subjects to match on:</b>
  </label>
</div>

<div class="form-group">
  <div class="col-sm-9">
